.vscode/
.idea/
Clinic.sublime-workspace
*.pyc
**/__pycache__/*
node_modules/*
env/*
!env/pip_lock.bat
!env/install.bat
!env/requirements.txt
src/installed
**/*.sqlite3
*-journal
**/migrations/*
!**/migrations/__init__.py
