<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/bootstrap/bootstrap.css">
    <title>Budget Manager</title>
<link href="/static/hash/style.78c918ffb77df4be724a.css" rel="stylesheet"></head>
<body>
    <div id="root"></div>
<script type="text/javascript" src="/static/hash/vendors.main.js"></script><script type="text/javascript" src="/static/hash/main.bundle.78c918ffb77df4be724a.js"></script></body>
</html>